In [2]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [165]:
data_all = pd.read_csv("/new_big_annotation_stance.csv")

In [166]:
data_all[:1]

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,RecipientEmail,ExternalReference,LocationLatitude,LocationLongitude,DistributionChannel,UserLanguage,Consent,Q3,1_Q5,1_Q6,2_Q5,2_Q6,3_Q5,3_Q6,4_Q5,4_Q6,5_Q5,5_Q6,6_Q5,6_Q6,7_Q5,7_Q6,8_Q5,8_Q6,10_Q5,10_Q6,2_Block_annotation_1,2_Q13,3_Block_annotation_1,3_Q13,4_Block_annotation_1,4_Q13,5_Block_annotation_1,5_Q13,6_Block_annotation_1,6_Q13,7_Block_annotation_1,7_Q13,8_Block_annotation_1,8_Q13,9_Block_annotation_1,9_Q13,1_Q1,1_Q4,1_Q1.1,1_Q2,3_Q1,3_Q2,5_Q1,5_Q2,7_Q1,7_Q2,9_Q1,9_Q2,11_Q1,11_Q2,13_Q1,13_Q2,15_Q1,15_Q2,17_Q1,17_Q2,19_Q1,19_Q2,21_Q1,21_Q2,23_Q1,23_Q2,25_Q1,25_Q2,27_Q1,27_Q2,29_Q1,29_Q2,31_Q1,31_Q2,33_Q1,33_Q2,35_Q1,35_Q2,37_Q1,37_Q2,39_Q1,39_Q2,41_Q1,41_Q2,1_Q1.2,1_Q1.3,1_Q2.1,3_Q1.1,3_Q2.1,5_Q1.1,5_Q2.1,7_Q1.1,7_Q2.1,9_Q1.1,9_Q2.1,11_Q1.1,11_Q2.1,13_Q1.1,13_Q2.1,15_Q1.1,15_Q2.1,17_Q1.1,17_Q2.1,19_Q1.1,19_Q2.1,21_Q1.1,21_Q2.1,23_Q1.1,23_Q2.1,25_Q1.1,25_Q2.1,27_Q1.1,27_Q2.1,1_Q1.4,1_Q3,1_Q1.5,1_Q2.2,3_Q1.2,3_Q2.2,5_Q1.2,5_Q2.2,7_Q1.2,7_Q2.2,9_Q1.2,9_Q2.2,11_Q1.2,11_Q2.2,13_Q1.2,13_Q2.2,15_Q1.2,15_Q2.2,17_Q1.2,17_Q2.2,19_Q1.2,19_Q2.2,21_Q1.2,21_Q2.2,23_Q1.2,23_Q2.2,25_Q1.2,25_Q2.2,27_Q1.2,27_Q2.2,29_Q1.1,29_Q2.1,31_Q1.1,31_Q2.1,33_Q1.1,33_Q2.1,35_Q1.1,35_Q2.1,37_Q1.1,37_Q2.1,39_Q1.1,39_Q2.1,41_Q1.1,41_Q2.1,1_Q1.6,1_Q1.7,1_Q2.3,3_Q1.3,3_Q2.3,5_Q1.3,5_Q2.3,7_Q1.3,7_Q2.3,9_Q1.3,9_Q2.3,11_Q1.3,11_Q2.3,13_Q1.3,13_Q2.3,15_Q1.3,15_Q2.3,17_Q1.3,17_Q2.3,19_Q1.3,19_Q2.3,21_Q1.3,21_Q2.3,23_Q1.3,23_Q2.3,25_Q1.3,25_Q2.3,27_Q1.3,27_Q2.3,29_Q1.2,29_Q2.2,31_Q1.2,31_Q2.2,33_Q1.2,33_Q2.2,35_Q1.2,35_Q2.2,37_Q1.2,37_Q2.2,39_Q1.2,39_Q2.2,41_Q1.2,41_Q2.2,43_Q1,43_Q2,45_Q1,45_Q2,47_Q1,47_Q2,49_Q1,49_Q2,PROLIFIC_PID
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,Recipient First Name,Recipient Email,External Data Reference,Location Latitude,Location Longitude,Distribution Channel,User Language,This task is part of a scientific study about ...,What is your Prolific ID?\n\nPlease note that ...,3495845393 - Read the topic text below. Pay cl...,3495845393 - Read the comment on this discussi...,3495845394 - Read the topic text below. Pay cl...,3495845394 - Read the comment on this discussi...,3495845395 - Read the topic text below. Pay cl...,3495845395 - Read the comment on this discussi...,3495845399 - Read the topic text below. Pay cl...,3495845399 - Read the comment on this discussi...,3495845400 - Read the topic text below. Pay cl...,3495845400 - Read the comment on this discussi...,3495845401 - Read the topic text below. Pay cl...,3495845401 - Read the comment on this discussi...,3495845402 - Read the topic text below. Pay cl...,3495845402 - Read the comment on this discussi...,99 - Read the topic text below. Pay close atte...,99 - Read the comment on this discussion topic...,101 - Read the topic text below. Pay close att...,101 - Read the comment on this discussion topi...,3492674527 - Read the topic text below. Pay cl...,3492674527 - Read the comment on this discussi...,3492674528 - Read the topic text below. Pay cl...,3492674528 - Read the comment on this discussi...,3492674530 - Read the topic text below. Pay cl...,3492674530 - Read the comment on this discussi...,3492674531 - Read the topic text below. Pay cl...,3492674531 - Read the comment on this discussi...,3492674532 - Read the topic text below. Pay cl...,3492674532 - Read the comment on this discussi...,3492674533 - Read the topic text below. Pay cl...,3492674533 - Read the comment on this discussi...,3492674534 - Read the topic text below. Pay cl...,3492674534 - Read the comment on this discussi...,3492674535 - Read the topic text below. Pay cl...,3492674535 - Read the comment on this discussi...,3495845412 - Read the topic text below. Pay cl...,3495845412 - Read the comment on this discussi...,'3492674527 - Read the topic text below. Pay c...,'3492674527 - Read the comment on this discuss...,3492674537 - Read the topic text below. Pay cl...,3492674537 - Read the comment on this discussi...,3492674538 - Read the topic text below. Pay cl...,3492674538 - Read the comment on this discussi...,3492674539 - Read the topic text below. Pay cl...,3492674539 - Read the comment on this discussi...,3492674540 - Read the topic text below. Pay cl...,3492674540 - Read the comment on this discussi...,3492674541 - Read the topic text below. Pay cl...,3492674541 - Read the comment on this discussi...,3492674542 - Read the topic text below. Pay cl...,3492674542 - Read the comment on this discussi...,3492674543 - Read the topic text below. Pay cl...,3492674543 - Read the comment on this discussi...,3492674544 - Read the topic text below. Pay cl...,3492674544 - Read the comment on this discussi...,3492674545 - Read the topic text below. Pay cl...,3492674545 - Read the comment on this discussi...,3492674546 - Read the topic text below. Pay cl...,3492674546 - Read the comment on this discussi...,3492674549 - Read the topic text below. Pay cl...,3492674549 - Read the comment on this discussi...,3492674550 - Read the topic text below. Pay cl...,3492674550 - Read the comment on this discussi...,3492674551 - Read the topic text below. Pay cl...,3492674551 - Read the comment on this discussi...,3492674552 - Read the topic text below. Pay cl...,3492674552 - Read the comment on this discussi...,3492674553 - Read the topic text below. Pay cl...,3492674553 - Read the comment on this discussi...,3492674554 - Read the topic text below. Pay cl...,3492674554 - Read the comment on this discussi...,3492674555 - Read the topic text below. Pay cl...,3492674555 - Read the comment on this discussi...,3492674557 - Read the topic text below. Pay cl...,3492674557 - Read the comment on this discussi...,3492674559 - Read the topic text below. Pay cl...,3492674559 - Read the comment on this discussi...,3492674560 - Read the topic text below. Pay cl...,3492674560 - Read the comment on this discussi...,34958454123495845404 - Read the topic text bel...,3492674561 - Read the topic text below. Pay cl...,3492674561 - Read the comment on this discussi...,'3492674556 - Read the topic text below. Pay c...,'3492674556 - Read the comment on this discuss...,3492674562 - Read the topic text below. Pay cl...,3492674562 - Read the comment on this discussi...,3492674563 - Read the topic text below. Pay cl...,3492674563 - Read the comment on this discussi...,3492674564 - Read the topic text below. Pay cl...,3492674564 - Read the comment on this discussi...,3492674565 - Read the topic text below. Pay cl...,3492674565 - Read the comment on this discussi...,3492674566 - Read the topic text below. Pay cl...,3492674566 - Read the comment on this discussi...,3492674567 - Read the topic text below. Pay cl...,3492674567 - Read the comment on this discussi...,3492674568 - Read the topic text below. Pay cl...,3492674568 - Read the comment on this discussi...,3492674569 - Read the topic text below. Pay cl...,3492674569 - Read the comment on this discussi...,3492674570 - Read the topic text below. Pay cl...,3492674570 - Read the comment on this discussi...,3492674572 - Read the topic text below. Pay cl...,3492674572 - Read the comment on this discussi...,3492674573 - Read the topic text below. Pay cl...,3492674573 - Read the comment on this discussi...,3492674574 - Read the topic text below. Pay cl...,3492674574 - Read the comment on this discussi...,3495845409 - Read the topic text below. Pay cl...,3495845409 - Read the comment on this discussi...,3492674576 - Read the topic text below. Pay cl...,3492674576 - Read the comment on this discussi...,3492674577 - Read the topic text below. Pay cl...,3492674577 - Read the comment on this discussi...,3492674578 - Read the topic text below. Pay cl...,3492674578 - Read the comment on this discussi...,3492674579 - Read the topic text below. Pay cl...,3492674579 - Read the comment on this discussi...,3492674580 - Read the topic text below. Pay cl...,3492674580 - Read the comment on this discussi...,3492674581 - Read the topic text below. Pay cl...,3492674581 - Read the comment on this discussi...,3492674582 - Read the topic text below. Pay cl...,3492674582 - Read the comment on this discussi...,3492674584 - Read the topic text below. Pay cl...,3492674584 - Read the comment on this discussi...,3492674585 - Read the topic text below. Pay cl...,3492674585 - Read the comment on this discussi...,3492674586 - Read the topic text below. Pay cl...,3492674586 - Read the comment on this discussi...,3492674587 - Read the topic text below. Pay cl...,3492674587 - Read the comment on this discussi...,3492674588 - Read the topic text below. Pay cl...,3492674588 - Read the comment on this discussi...,3492674590 - Read the topic text below. Pay cl...,3492674590 - Read the comment on this discussi...,3492674591 - Read the topic text below. Pay cl...,3492674591 - Read the comment on this discussi...,3492674592 - Read the topic text below. Pay cl...,3492674592 - Read the comment on this discussi...,3492674594 - Read the topic text below. Pay cl...,3492674594 - Read the comment on this discussi...,3492674595 - Read the topic text below. Pay cl...,3492674595 - Read the comment on this discussi...,3492674596 - Read the topic text below. Pay cl...,3492674596 - Read the comment on this discussi...,3492674597 - Read the topic text below. Pay cl...,3492674597 - Read the comment on this discussi...,3492674598 - Read the topic text below. Pay cl...,3492674598 - Read the comment on this discussi...,3492674599 - Read the topic text below. Pay cl...,3492674599 - Read the comment on this discussi...,34958454123495845408 - Read the topic text bel...,3492674600 - Read the topic text below. Pay cl...,3492674600 - Read the comment on this discussi...,3492674601 - Read the topic text below. Pay cl...,3492674601 - Read the comment on this discussi...,3492674602 - Read the topic text below. Pay cl...,3492674602 - Read the comment on this discussi...,3492674603 - Read the topic text below. Pay cl...,3492674603 - Read the comment on this discussi...,3492674604 - Read the topic text below. Pay cl...,3492674604 - Read the comment on this discussi...,3492674605 - Read the topic text below. Pay cl...,3492674605 - Read the comment on this discussi...,3492674606 - Read the topic text below. Pay cl...,3492674606 - Read the comment on this discussi...,3492674607 - Read the topic text below. Pay cl...,3492674607 - Read the comment on this discussi...,3492674608 - Read the topic text below. Pay cl...,3492674608 - Read the comment on this discussi...,3492674609 - Read the topic text below. Pay cl...,3492674609 - Read the comment on this discussi...,3492674610 - Read the topic text below. Pay cl...,3492674610 - Read the comment on this discussi...,3492674613 - Read the topic text below. Pay cl...,3492674613 - Read the comment on this discussi...,3492674614 - Read the topic text below. Pay cl...,3492674614 - Read the comment on this discussi...,3492674615 - Read the topic text below. Pay cl...,3492674615 - Read the comment on this discussi...,3492674616 - Read the topic text below. Pay cl...,3492674616 - Read the comment on this discussi...,3492674617 - Read the topic text below. Pay cl...,3492674617 - Read the comment on this discussi...,3492674618 - Read the topic text below. Pay cl...,3492674618 - Read the comment on this discussi...,3492674619 - Read the topic text below. Pay cl...,3492674619 - Read the comment on this discussi...,3492674620 - Read the topic text below. Pay cl...,3492674620 - Read the comment on this discussi...,3492674621 - Read the topic text below. Pay cl...,3492674621 - Read the comment on this discussi...,3492674622 - Read the topic text below. Pay cl...,3492674622 - Read the comment on this discussi...,3492674623 - Read the topic text below. Pay cl...,3492674623 - Read the comment on this discussi...,3492674624 - Read the topic text below. Pay cl...,3492674624 - Read the comment on this discussi...,3492674625 - Read the topic text below. Pay cl...,3492674625 - Read the comment on this discussi...,3492674626 - Read the topic text below. Pay cl...,3492674626 - Read the comment on this discussi...,PROLIFIC_PID

In [167]:
filter_col = [col for col in data_all.columns if '_' in col]
filter_col = [col for col in filter_col if "PID" not in col]
filter_col = [col for col in filter_col if "ImportId" not in col]
filter_col = [col for col in filter_col if "below" not in col]

In [168]:
data_all.columns, data_all.iloc[0] = data_all.iloc[0].to_list(), data_all.columns

In [169]:
data_all.columns = data_all.columns.str.split("-").str[0]
data_all.rename(columns={ data_all.columns[17]: "consent" }, inplace = True)

In [170]:
data_annotations = data_all[2:]
transposed_annotations = data_annotations.T
transposed_annotations.columns = transposed_annotations.iloc[18]
transposed_annotations = transposed_annotations[19:]

In [171]:
transposed_annotations[:2]

What is your Prolific ID?

Please note that this response should auto          63d3fd1b0a21df494a093c51       5f60bbdf0c4792015f140d30       612f36ffdba08ffd6032560a       613f25c7b60b1f9c170a6db3       615a0198a1a2d449a781b8a5
3495845393                                                             No, it is not a discussion topic  Yes, it is a discussion topic  Yes, it is a discussion topic  Yes, it is a discussion topic  Yes, it is a discussion topic
3495845393                                                                                      SUPPORT                        SUPPORT                        SUPPORT                        SUPPORT                        SUPPORT

In [172]:
transposed_annotations[:2]

What is your Prolific ID?

Please note that this response should auto          63d3fd1b0a21df494a093c51       5f60bbdf0c4792015f140d30       612f36ffdba08ffd6032560a       613f25c7b60b1f9c170a6db3       615a0198a1a2d449a781b8a5
3495845393                                                             No, it is not a discussion topic  Yes, it is a discussion topic  Yes, it is a discussion topic  Yes, it is a discussion topic  Yes, it is a discussion topic
3495845393                                                                                      SUPPORT                        SUPPORT                        SUPPORT                        SUPPORT                        SUPPORT

In [173]:
discussion_topic_annotations = transposed_annotations[transposed_annotations["63d3fd1b0a21df494a093c51"].str.contains('discussion').fillna(False)]

In [174]:
discussion_topic_annotations[:1]

What is your Prolific ID?

Please note that this response should auto          63d3fd1b0a21df494a093c51       5f60bbdf0c4792015f140d30       612f36ffdba08ffd6032560a       613f25c7b60b1f9c170a6db3       615a0198a1a2d449a781b8a5
3495845393                                                             No, it is not a discussion topic  Yes, it is a discussion topic  Yes, it is a discussion topic  Yes, it is a discussion topic  Yes, it is a discussion topic

In [175]:
len(discussion_topic_annotations)

102

In [176]:
discussion_topic_annotations = discussion_topic_annotations.replace("No, it is not a discussion topic", 0)
discussion_topic_annotations = discussion_topic_annotations.replace("Yes, it is a discussion topic", 1)

In [212]:
discussion_topic_annotations

What is your Prolific ID?

Please note that this response should auto  63d3fd1b0a21df494a093c51  5f60bbdf0c4792015f140d30  612f36ffdba08ffd6032560a  613f25c7b60b1f9c170a6db3  615a0198a1a2d449a781b8a5
3495845393                                                                                    0                         1                         1                         1                         1
3495845394                                                                                    1                         1                         1                         1                         1
3495845395                                                                                    1                         0                         0                         0                         1
3495845399                                                                                    0                         0                         0                         0                         1
3495845400                                                                                    1                         1                         1                         0                         1
3495845401                                                                                    1                         0                         1                         1                         1
3495845402                                                                                    0                         0                         1                         1                         0
99                                                                                            1                         1                         1                         1                         1
101                                                                                           0                         0                         0                         0                         0
3492674527                                                                                    1                         1                         1                         1                         1
3492674528                                                                                    0                         0                         0                         1                         1
3492674530                                                                                    0                         0                         0                         0                         1
3492674531                                                                                    1                         0                         1                         1                         1
3492674532                                                                                    1                         1                         1                         1                         1
3492674533                                                                                    1                         1                         1                         1                         1
3492674534                                                                                    1                         0                         1                         1                         1
3492674535                                                                                    1                         0                         1                         1                         1
3495845412                                                                                    1                         1                         1                         1                         1
'3492674527                                                                                   1                         1                         1                         1                         1
3492674537                                                                                    0                         0                         1                         1                         1
3492674538                                                                                    0                         0                         0                         1                         1
3492674539                                                                                    1                         1                         1                         1                         1
3492674540                                                                                    1                         1                         1                         1                         1
3492674541                                                                                    1                         1                         1                         1                         1
3492674542                                                                                    1                         1                         1                         1                         1
3492674543                                                                                    0                         0                         0                         1                         1
3492674544                                                                                    0                         1                         1                         1                         1
3492674545                                                                                    1                         1                         1                         1                         1
3492674546                                                                                    0                         0                         0                         0                         1
3492674549                                                                                    1                         1                         1                         1                         1
3492674550                                                                                    1                         1                         1                         1                         1
3492674551                                                                                    1                         1                         1                         1                         1
3492674552                                                                                    1                         1                         1                         1                         1
3492674553                                                                                    0                         0                         1                         1                         1
3492674554                                                                                    1                         1                         1                         1                         1
3492674555                                                                                    1                         1                         0                         1                         1
3492674557                                                                                    1                         1                         1                         1                         1
3492674559                                                                                    0                         0                         0                         0                         1
3492674560                                                                                    0                         0                         0                         0                         0
34958454123495845404                                                                          0                         0                         0                         1                         1
3492674561                                                                                    1                         1                         1                         1                         1
'3492674556                                                                                   1                         1                         1                         1                         1
3492674562                                                                                    1                         1                         1                         1                         1
3492674563                                                                                    0                         0                         1                         1                         1
3492674564                                                                                    1                         1                         1                         1                         1
3492674565                                                                                    1                         1                         1                         1                         1
3492674566                                                                                    1                         1                         1                         1                         1
3492674567                                                                                    0                         1                         1                         1                         1
3492674568                                                                                    1                         1                         1                         1                         1
3492674569                                                                                    1                         1                         1                         1                         1
3492674570                                                                                    1                         1                         1                         1                         1
3492674572                                                                                    0                         0                         0                         0                         0
3492674573                                                                                    0                         0                         0                         0                         1
3492674574                                                                                    1                         1                         1                         1                         1
3495845409                                                                                    0                         0                         1                         1                         1
3492674576                                                                                    1                         1                         1                         1                         1
3492674577                                                                                    1                         1                         1                         1                         1
3492674578                                                                                    1                         1                         1                         1                         1
3492674579                                                                                    1                         1                         1                         1                         1
3492674580                                                                                    1                         1                         1                         1                         1
3492674581                                                                                    1                         1                         1                         1                         1
3492674582                                                                                    0                         1                         0                         0                         1
3492674584                                                                                    1                         1                         1                         1                         1
3492674585                                                                                    0                         0                         0                         0                         1
3492674586                                                                                    0                         1                         0                         1                         1
3492674587                                                                                    0                         0                         1                         1                         1
3492674588                                                                                    1                         1                         1                         1                         1
3492674590                                                                                    0                         0                         1                         1                         1
3492674591                                                                                    0                         1                         1                         1                         1
3492674592                                                                                    0                         1                         1                         1                         1
3492674594                                                                                    1                         1                         1                         1                         1
3492674595                                                                                    1                         1                         1                         1                         1
3492674596                                                                                    1                         1                         1                         1                         1
3492674597                                                                                    0                         0                         1                         1                         1
3492674598                                                                                    1                         1                         1                         1                         1
3492674599                                                                                    0                         0                         0                         0                         0
34958454123495845408                                                                          0                         0                         1                         1                         0
3492674600                                                                                    1                         1                         1                         1                         1
3492674601                                                                                    0                         1                         0                         1                         1
3492674602                                                                                    1                         1                         1                         1                         1
3492674603                                                                                    1                         1                         1                         1                         1
3492674604                                                                                    1                         1                         1                         1                         1
3492674605                                                                                    1                         1                         1                         1                         1
3492674606                                                                                    1                         1                         1                         1                         1
3492674607                                                                                    1                         1                         1                         1                         1
3492674608                                                                                    1                         1                         1                         1                         1
3492674609                                                                                    1                         1                         1                         1                         1
3492674610                                                                                    1                         1                         1                         1                         1
3492674613                                                                                    1                         1                         1                         1                         1
3492674614                                                                                    1                         1                         1                         1                         1
3492674615                                                                                    0                         1                         1                         1                         1
3492674616                                                                                    1                         1                         1                         1                         1
3492674617                                                                                    1                         1                         1                         1                         1
3492674618                                                                                    1                         1                         1                         1                         1
3492674619                                                                                    1                         1                         1                         1                         1
3492674620                                                                                    0                         0                         0                         1                         0
3492674621                                                                                    1                         1                         1                         1                         1
3492674622                                                                                    0                         0                         1                         1                         1
3492674623                                                                                    1                         1                         1                         1                         1

In [183]:
from statsmodels.stats import inter_rater as irr
irr.fleiss_kappa(irr.aggregate_raters(discussion_topic_annotations)[0], method='fleiss')

0.4632684344185411

In [228]:
data = irr.aggregate_raters(discussion_topic_annotations)[0]
percentages = data/data.sum(axis=1) * 100
percentages

ValueError: operands could not be broadcast together with shapes (102,2) (102,)

In [255]:
import numpy as np

perc = irr.aggregate_raters(stance_annotations_no_test)[0]/.05

all_perc = []

for i in perc:
    i = max(i)
    all_perc = all_perc + [i]

In [262]:
import statistics 

statistics.mode(all_perc)

60.0

In [258]:
np.max(all_perc)

100.0

In [184]:
test_questions = ['3495845393', '3495845394', '3495845395', '3495845399', '3495845400', '3495845401', '3495845402']

In [189]:
test_index = discussion_topic_annotations[:9].index.tolist()

In [190]:
discussion_topic_annotations_no_test = discussion_topic_annotations.drop(test_index)

In [193]:
irr.fleiss_kappa(irr.aggregate_raters(discussion_topic_annotations_no_test)[0], method='fleiss')

0.4671504965622613

#### without last annotator

In [201]:
without_fast_annotator = discussion_topic_annotations_no_test.drop(['63d3fd1b0a21df494a093c51'], axis=1)

In [202]:
irr.fleiss_kappa(irr.aggregate_raters(without_fast_annotator)[0], method='fleiss')

0.4435897435897434

### stance annotations

In [194]:
stance_annotations = transposed_annotations[~transposed_annotations["63d3fd1b0a21df494a093c51"].str.contains('discussion').fillna(False)]

In [198]:
stance_annotations = stance_annotations.fillna(99)

In [13]:
stance_annotations

NameError: name 'stance_annotations' is not defined

In [196]:
stance_annotations = stance_annotations.replace("SUPPORT", 1)
stance_annotations = stance_annotations.replace("REJECT", 2)
stance_annotations = stance_annotations.replace("NEUTRAL", 0)

In [206]:
stance_annotations = stance_annotations[:-1]

In [207]:
irr.fleiss_kappa(irr.aggregate_raters(stance_annotations)[0], method='fleiss')

0.31632576608975804

In [208]:
stance_annotations_no_test = stance_annotations.drop(test_index)

In [219]:
stance_annotations_no_test[:1].nunique

<bound method DataFrame.nunique of What is your Prolific ID?

Please note that this response should auto 63d3fd1b0a21df494a093c51 5f60bbdf0c4792015f140d30 612f36ffdba08ffd6032560a 613f25c7b60b1f9c170a6db3 615a0198a1a2d449a781b8a5
3492674527                                                                                   2                        1                        0                        2                        2>

In [209]:
irr.fleiss_kappa(irr.aggregate_raters(stance_annotations_no_test)[0], method='fleiss')

0.2659670466644162

In [210]:
without_fast_annotator = stance_annotations_no_test.drop(['63d3fd1b0a21df494a093c51'], axis=1)

In [211]:
irr.fleiss_kappa(irr.aggregate_raters(without_fast_annotator)[0], method='fleiss')

0.20825723842160332

In [272]:
stance_annotations_no_test["mode"] = stance_annotations_no_test.mode(axis=1)[0]

In [274]:
print(len(stance_annotations_no_test))

91

In [276]:
stance_annotations_arg = stance_annotations_no_test[stance_annotations_no_test["mode"] != 99]

In [278]:
print(len(stance_annotations_arg))

71

In [281]:
stance_annotations_arg["mode"].value_counts()

0    29
2    21
1    21
Name: mode, dtype: int64

In [282]:
stance_annotations = stance_annotations.replace("SUPPORT", 1)
stance_annotations = stance_annotations.replace("REJECT", 2)
stance_annotations = stance_annotations.replace("NEUTRAL", 0)

In [318]:
nrs = stance_annotations_arg.index.str.strip().str.strip("'")
nrs = [int(n) for n in nrs]

In [324]:
print(len(nrs))

71

In [294]:
data_input = pd.read_csv("data_input - source2261112.csv", header=None)

In [302]:
data_input.columns = data_input.columns=['nr','comment','id_1','id_2','topic', 'x', 'x', 'x', 'x', 'x']

In [320]:
data_input_stance = data_input[data_input["nr"].isin(nrs)]

In [325]:
data_input_stance[:1]

           nr                               comment     id_1    id_2                                              topic   x    x    x   x    x
0  3492674527  Oh 200 billion!... Aaaand it's gone.  fyyypvd  hwdn1p  Italian prime minister on 200 billion in EU fu... NaN  NaN  NaN NaN  NaN

In [322]:
print(len(data_input_stance))

68

In [328]:
data_input_stance.to_csv("threat_input.csv")

In [327]:
set(nrs) ^ set(data_input_stance.nr)

{3495845409, 3495845412}

#### Threat

In [49]:
data_threat = pd.read_csv("Power_Threat_dimension.csv")

In [50]:
data_threat.columns = data_threat.columns.str.split("-").str[0]

In [51]:
#data_annotations = data_threat[2:]
data_threat.columns, data_threat.iloc[0] = data_threat.iloc[0].to_list(), data_threat.columns
data_threat.rename(columns={ data_threat.columns[17]: "consent" }, inplace = True)
data_threat.columns = data_threat.columns.str.split("-").str[0]
transposed_annotations = data_threat.T

In [52]:
transposed_annotations[:1]

                    0                                                  1                    2                    3                    4                    5                    6                    7
Start Date  StartDate  {"ImportId":"startDate","timeZone":"America/De...  2023-09-07 17:26:28  2023-09-07 17:28:05  2023-09-07 17:28:16  2023-09-07 17:27:32  2023-09-07 17:30:31  2023-09-07 18:07:01

In [53]:
transposed_annotations.columns = transposed_annotations.iloc[18]
transposed_annotations = transposed_annotations[19:]

In [64]:
transposed_annotations[:1]

What is your Prolific ID?

Please note that this response should auto      Q3 {"ImportId":"QID3_TEXT"}       5f3c4372d64ff120268a0b0b       62b2476fc924f1a048bd412b            6113fe6d1cc046cadf670b2f       592fbec4cf0d9600010e8a89    594ee6531ebf4800018a4854       60d432ce6e413e7509dd4b78
34958453933492674527                                                   1_Q145  {"ImportId":"1_QID145"}  The comment mentions NO POWER  The comment mentions NO POWER  The comment has UNDETERMINED POWER  The comment mentions NO POWER  The comment mentions POWER  The comment mentions NO POWER

In [65]:
transposed_annotations = transposed_annotations[["5f3c4372d64ff120268a0b0b", "62b2476fc924f1a048bd412b", "6113fe6d1cc046cadf670b2f", "592fbec4cf0d9600010e8a89", "594ee6531ebf4800018a4854", "60d432ce6e413e7509dd4b78"]]

In [67]:
power_annotations = transposed_annotations[transposed_annotations["5f3c4372d64ff120268a0b0b"].str.contains('POWER').fillna(False)]

In [68]:
print(len(power_annotations))

68

In [69]:
power_annotations[-1:]

What is your Prolific ID?

Please note that this response should auto       5f3c4372d64ff120268a0b0b       62b2476fc924f1a048bd412b            6113fe6d1cc046cadf670b2f       592fbec4cf0d9600010e8a89       594ee6531ebf4800018a4854       60d432ce6e413e7509dd4b78
101                                                                    The comment mentions NO POWER  The comment mentions NO POWER  The comment has UNDETERMINED POWER  The comment mentions NO POWER  The comment mentions NO POWER  The comment mentions NO POWER

In [70]:
threat_annotations = transposed_annotations[transposed_annotations["5f3c4372d64ff120268a0b0b"].str.contains('THREAT').fillna(False)]

In [71]:
print(len(threat_annotations))

68

In [72]:
threat_annotations[:5]

What is your Prolific ID?

Please note that this response should auto             5f3c4372d64ff120268a0b0b             62b2476fc924f1a048bd412b 6113fe6d1cc046cadf670b2f             592fbec4cf0d9600010e8a89             594ee6531ebf4800018a4854             60d432ce6e413e7509dd4b78
34958453933492674527                                                   The comment has UNDETERMINED THREAT  The comment has UNDETERMINED THREAT                      NaN          The comment mentions THREAT  The comment has UNDETERMINED THREAT          The comment mentions THREAT
3492674531                                                             The comment has UNDETERMINED THREAT  The comment has UNDETERMINED THREAT                      NaN  The comment has UNDETERMINED THREAT          The comment mentions THREAT  The comment has UNDETERMINED THREAT
3492674532                                                                  The comment mentions NO THREAT       The comment mentions NO THREAT                      NaN  The comment has UNDETERMINED THREAT       The comment mentions NO THREAT       The comment mentions NO THREAT
3492674533                                                             The comment has UNDETERMINED THREAT  The comment has UNDETERMINED THREAT                      NaN          The comment mentions THREAT  The comment has UNDETERMINED THREAT          The comment mentions THREAT
3492674534                                                             The comment has UNDETERMINED THREAT  The comment has UNDETERMINED THREAT                      NaN  The comment has UNDETERMINED THREAT          The comment mentions THREAT          The comment mentions THREAT

In [75]:
threat_annotations = threat_annotations.replace("The comment mentions THREAT", 1)
threat_annotations = threat_annotations.replace("The comment mentions NO THREAT", 2)
threat_annotations = threat_annotations.replace("The comment has UNDETERMINED THREAT", 0)
threat_annotations = threat_annotations.fillna(99)

In [78]:
power_annotations = power_annotations.replace("The comment mentions POWER", 1)
power_annotations = power_annotations.replace("The comment mentions NO POWER", 2)
power_annotations = power_annotations.replace("The comment has UNDETERMINED POWER", 0)
power_annotations = power_annotations.fillna(99)

In [80]:
from statsmodels.stats import inter_rater as irr
irr.fleiss_kappa(irr.aggregate_raters(threat_annotations)[0], method='fleiss')

0.1395645583115391

In [81]:
from statsmodels.stats import inter_rater as irr
irr.fleiss_kappa(irr.aggregate_raters(power_annotations)[0], method='fleiss')

0.29560416627141445

In [95]:
power_annotations["mode"] = power_annotations.mode(axis=1)[0]

<ipython-input-95-5dbcd9b35dc6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  power_annotations["mode"] = power_annotations.mode(axis=1)[0]

In [96]:
threat_annotations["mode"] = threat_annotations.mode(axis=1)[0]

<ipython-input-96-72770cd74fb3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  threat_annotations["mode"] = threat_annotations.mode(axis=1)[0]

In [97]:
power_annotations["mode"].value_counts()

0.0    36
2.0    24
1.0     8
Name: mode, dtype: int64

In [ ]:
power_annotations = power_annotations.replace("The comment mentions POWER", 1)
power_annotations = power_annotations.replace("The comment mentions NO POWER", 2)
power_annotations = power_annotations.replace("The comment has UNDETERMINED POWER", 0)

In [98]:
threat_annotations["mode"].value_counts()

0.0    30
1.0    28
2.0    10
Name: mode, dtype: int64

In [89]:
threat_annotations.columns

Index(['5f3c4372d64ff120268a0b0b', '62b2476fc924f1a048bd412b', '6113fe6d1cc046cadf670b2f', '592fbec4cf0d9600010e8a89', '594ee6531ebf4800018a4854', '60d432ce6e413e7509dd4b78', 'mode'], dtype='object', name='What is your Prolific ID?\n\nPlease note that this response should auto')

In [101]:
threat_annotations = threat_annotations[['5f3c4372d64ff120268a0b0b', '62b2476fc924f1a048bd412b', '592fbec4cf0d9600010e8a89', '594ee6531ebf4800018a4854', '60d432ce6e413e7509dd4b78']]

In [102]:
irr.fleiss_kappa(irr.aggregate_raters(threat_annotations)[0], method='fleiss')

0.32526889003278175

In [99]:
power_annotations = power_annotations[['5f3c4372d64ff120268a0b0b', '62b2476fc924f1a048bd412b', '592fbec4cf0d9600010e8a89', '594ee6531ebf4800018a4854', '60d432ce6e413e7509dd4b78']]

In [100]:
irr.fleiss_kappa(irr.aggregate_raters(power_annotations)[0], method='fleiss')

0.303374494650862